<div id="content-top-border" class="container"></div>

<div id="content">
	<div class="container background-white">

		<div class="row padding-vert-40">

			<!--Kriterijumi pretrage-->
			<div class="col-sm-3">
				<h3>
					<b>Kriterijum pretrage</b>
				</h3>
				<br>

				<div class="panel panel-default">
					<div class="panel-heading" data-toggle="collapse"
						data-target="#collapse0" style="cursor: pointer">
						<h4 class="panel-title">Status</h4>
					</div>
					<div id="collapse0" class="panel-collapse collapse in">
						<div class="panel-body">
							<form>
								<div class="radio">
									<label><input type="radio" name="optradio" value="Svi" ng-model="aktiCtrl.filter.status">Svi</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio"
										value="U proceduri" ng-model="aktiCtrl.filter.status">U proceduri</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio"
										value="U celosti" ng-model="aktiCtrl.filter.status">U celosti</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio"
										value="U nacelu" ng-model="aktiCtrl.filter.status">U načelu</label>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" data-toggle="collapse"
						data-target="#collapse1" style="cursor: pointer">
						<h4 class="panel-title">Oblast</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse in">
						<div class="panel-body">
							<form>
								<div class="radio">
									<label><input type="radio" name="optradio" value="Sve" ng-model="aktiCtrl.filter.oblast">Sve</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio"
										value="Zdravstvo" ng-model="aktiCtrl.filter.oblast">Zdravstvo</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio"
										value="Å kolstvo" ng-model="aktiCtrl.filter.oblast">Školstvo</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio"
										value="Vojska" ng-model="aktiCtrl.filter.oblast">Vojska</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio"
										value="Policija" ng-model="aktiCtrl.filter.oblast">Policija</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio"
										value="Pravosudje" ng-model="aktiCtrl.filter.oblast">Pravosuđe</label>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" data-toggle="collapse"
						data-target="#collapse2" style="cursor: pointer">
						<h4 class="panel-title">Datum objave</h4>
					</div>
					<div id="collapse2" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="form-group">
								<label for="minDatumObjave">Početni datum:</label>
								<input type="date" ng-model="aktiCtrl.filter.minDatumPredaje">
							</div>
							<div class="form-group">
								<label for="maxDatumObjave">Krajnji datum:</label>
								<input type="date" ng-model="aktiCtrl.filter.maxDatumPredaje">
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" data-toggle="collapse"
						data-target="#collapse3" style="cursor: pointer">
						<h4 class="panel-title">Datum predaje</h4>
					</div>
					<div id="collapse3" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="form-group">
								<label for="minDatumPredaje">Početni datum:</label>
								<input type="date" ng-model="aktiCtrl.filter.minDatumObjave">
							</div>
							<div class="form-group">
								<label for="maxDatumPredaje">Krajnji datum:</label>
								<input type="date" ng-model="aktiCtrl.filter.maxDatumObjave">
							</div>
						</div>
					</div>
				</div>

				<div ng-click="aktiCtrl.search()" class="panel panel-default" style="cursor: pointer">
					<div class="panel-heading" style="background-color: green">
						<h4 class="panel-title" style="text-align: center;">
							<b>Pretraži</b>
						</h4>
					</div>
				</div>

			</div>

			<!--Izlistavanje rezultata-->
			<div class="col-sm-9">

				<form class="navbar-form" role="search">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="aktiCtrl.searchText" placeholder="Pretraži">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit" ng-click="aktiCtrl.searchByText()">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</form>

				<h2 class="animate fadeIn text-center">Spisak akata</h2>
				
				<div style="text-align: right;">
					<label style="font-size: 12px;"><span ng-bind="aktiCtrl.akti.length"></span> rezultata</label>
					<hr style="border-top: 1px solid #ebebeb; height: 8px;">
				</div>
				
				<div style="border: 1px solid #d8d7d7; padding: 10px; height: 138px; margin-bottom: 15px;" ng-repeat="aktObj in aktiCtrl.akti">
					<a href="" ng-click="aktiCtrl.previewHTML(aktObj.akt.id)"><label style="cursor: pointer;"><span>{{ aktObj.akt.naslov }}</span> ( <span>{{ aktObj.akt.preambula.oblast.value }}</span> )</label></a>
					<label style="float: right;">{{ aktObj.akt.preambula.datumPredaje.value | date : 'dd.MM.yyyy' }}.</label><br />
					<div style="width: 520px; word-wrap: break-word; display: inline-block; font-size: 12px; margin-bottom: 5px;">{{ aktObj.text }}</div>
					<label style="float: right; text-align: right; width: 80px;">Status <br /><span style="font-weight: normal;">{{ aktObj.akt.preambula.status.value }}</span></label>
					<hr style="border-top: 1px solid #ebebeb; height: 0px; width: 719px;">
					<a href="" style="float: right;" ng-click="aktiCtrl.downloadRDF(aktObj.akt.id)"><img border="0" src="../images/RDF.png"></a>
					<a href="" style="float: right; margin: 0 15px;" ng-click="aktiCtrl.downloadJSON(aktObj.akt.id)"><img border="0" src="../images/json-file.png"></a>
					<a href="" style="float: right;" ng-click="aktiCtrl.downloadPDF(aktObj.akt.id)"><img border="0" src="../images/pdfIcon.png"></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="content-bottom-border" class="container"></div>