<div id="content-top-border" class="container"></div>

<div id="content">
	<div class="container background-white">
		<div class="row padding-vert-40">

			<h2 class="animate fadeIn text-center">Spisak amandmana</h2>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Broj</th>
							<th>Naslov</th>
							<th>Pravni osnov</th>
							<th>Preuzmi</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td><img border="0" src="../images/pdfIcon.png"> <img
								border="0" src="../images/xhtmlIcon.png"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
            
<div id="content-bottom-border" class="container"></div>