<div id="content-top-border" class="container"></div>

<div id="content">
	<div class="container background-white">
		<div class="row padding-vert-40">

			<h2 class="animate fadeIn text-center">Spisak amandmana</h2>
			<div class="table-responsive" style="margin-left: 10%; margin-right: 10%; margin-top: 5%">
				<table class="table">
					<thead>
						<tr>
							<th>Broj</th>
							<th>Naslov</th>
							<th>Pravni osnov</th>
							<th>Pregledaj</th>
						</tr>
					</thead>
					<tbody ng-repeat="amandman in amandmaniCtrl.amandmani">
						<tr>
							<td>{{ $index + 1 }}</td>
							<td>{{ amandman.naslov }}</td>
							<td>{{ amandman.pravniOsnov }}</td>
							<td>
								<a href="" ng-click="amandmaniCtrl.previewHTML(amandman.id)">
									<img border="0" src="../images/xhtmlIcon.png">
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
            
<div id="content-bottom-border" class="container"></div>