<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<div id="content-top-border" class="container"></div>
<div id="content">
	<div class="container background-white">
		<div class="row padding-vert-40">							

			<h2 class="animate fadeIn text-center">Održavanje sednice</h2>

			<img src="../images/skupstina.jpg" alt="Sednica..."
				 style="margin-left: 5%; margin-top: 5%; width:45%; height:40%; float: left">

			<div ng-if="odrzavanjeCtrl.sednicaUToku == true">
				<h3 style="margin-top: 15%; margin-right: 5%; width: 35%; float: right">
					<b>Sednica je u toku...</b>
				</h3>
	
				<input type="button" class="btn btn-danger"
					style="margin-top: 3%; margin-right: 5%; width: 35%; float: right"
					value="Prekini sednicu"
					ng-click="odrzavanjeCtrl.prekiniSednicu()">
			</div>
			<div ng-if="odrzavanjeCtrl.sednicaUToku == false">
				<h3 style="margin-top: 15%; margin-right: 5%; width: 35%; float: right">
					<b>
						Sednica je u zakazana za <br/> {{ odrzavanjeCtrl.sednica.datum | date : 'dd.MM.yyyy' }}.
						u {{ odrzavanjeCtrl.sednica.datum | date : 'H:mm' }} časova.
					</b>
				</h3>
			</div>
		</div>
	</div>
</div>

<div id="content-bottom-border" class="container"></div>