<div id="content-top-border" class="container"></div>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<div id="content">
	<div class="container background-white">

		<div class="row padding-vert-40">

			<!--Izlistavanje rezultata-->
			<div class="col-sm-12">

				<h2 class="animate fadeIn text-center">Spisak predloga</h2><br/>
				<div class="table-responsive">
					<h3 class="animate fadeIn text-center">Akti</h3>
					<table class="table">
						<thead>
							<tr>
								<th>Broj</th>
								<th>Naziv</th>
								<th>Oblast</th>
								<th>Datum</th>
								<th>Status</th>
								<th>Pregledaj</th>
								<th>Preuzmi</th>
								<th>Obriši</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="akt in predloziCtrl.predlozi">
								<td>{{ $index + 1 }}</td>
								<td>{{ akt.naslov }}</td>
								<td>{{ akt.preambula.oblast.value }}</td>
								<td>{{ akt.preambula.datumObjave.value | date : 'dd.MM.yyyy' }}</td>
								<td>{{ akt.preambula.status.value }}</td>
								<td ng-controller="AktiController as aktiCtrl"><a href="" ng-click="aktiCtrl.previewHTML(akt.id)"><img border="0" src="../images/xhtmlIcon.png"></a></td>
								<td ng-controller="AktiController as aktiCtrl"><a href="" ng-click="aktiCtrl.downloadPDF(akt.id)"><img border="0" src="../images/pdfIcon.png"></a></td>
								<td>
									<a ng-if="akt.preambula.status.value == 'U proceduri'" href="" ng-click="predloziCtrl.povuciAkt(akt.id)">
										<i class="glyphicon glyphicon-remove"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<br/>
					<h3 class="animate fadeIn text-center">Amandmani</h3>
					<table class="table">
						<thead>
							<tr>
								<th>Broj</th>
								<th>Naslov</th>
								<th>Pravni osnov</th>
								<th>Pregledaj</th>
								<th>Obriši</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="amd in predloziCtrl.predloziAmd">
								<td>{{ $index + 1 }}</td>
								<td>{{ amd.naslov }}</td>
								<td>{{ amd.pravniOsnov }}</td>
								<td ng-controller="AmandmaniController as amandmaniCtrl"><a href="" ng-click="amandmaniCtrl.previewHTML(amd.id)"><img border="0" src="../images/xhtmlIcon.png"></a></td>
								<td>
									<a href="" ng-click="predloziCtrl.povuciAmandman(amd.id)">
										<i class="glyphicon glyphicon-remove"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="content-bottom-border" class="container"></div>