<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<div id="content-top-border" class="container"></div>
<div id="content">
	<div class="container background-white">
		<div class="row padding-vert-40">

			<h2 class="animate fadeIn text-center">Glasanje u načelu</h2><br>

			<form>
				<div class="table-responsive">
					<table class="table" ng-repeat="dok in uNaceluCtrl.dokumenti">
						<thead>
							<tr>
								<th>Broj</th>
								<th>Id</th>
								<th>Naslov</th>
								<th>Oblast/Pravni osnov</th>
								<th>Datum</th>
								<th>Status</th>
								<th>Prihvati/Odbij</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Akt {{ $index + 1 }}</td>
								<td>{{ dok.akt.id }}</td>
								<td>{{ dok.akt.naslov }}</td>
								<td>{{ dok.akt.preambula.oblast.value }}</td>
								<td>{{ dok.akt.preambula.datumObjave.value | date : 'dd.MM.yyyy' }}.</td>
								<td id="{{ dok.akt.id }}status">{{ dok.akt.preambula.status.value }}</td>
								<td>
									<input type="submit" class="btn btn-success" value="Prihvati u načelu"
									id = "{{ dok.akt.id }}prihvati"
									ng-click="uNaceluCtrl.prihvatiUNacelu(dok.akt.id)">
									
									<input type="submit" class="btn btn-danger" value="Odbij"
									id = "{{ dok.akt.id }}odbij"
									ng-click="uNaceluCtrl.odbijAkt(dok.akt.id)">
								</td>
							</tr>
							<tr ng-repeat="amd in dok.amandmani" bgcolor="#f1f1f1">
								<td>Amandman {{ $index + 1 }}</td>
								<td>{{ amd.id }}</td>
								<td>{{ amd.naslov }}</td>
								<td>{{ amd.pravniOsnov }}</td>
								<td>{{ amd.preambula.datumObjave.value | date : 'dd.MM.yyyy' }}.</td>
								<td>{{ amd.preambula.status.value }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
			
			<button type="button" class="btn btn-default" style="float: right;"
			ng-click="uNaceluCtrl.predjiNaGlasanje()">
				Dalje >>
			</button>
			
		</div>
	</div>
</div>

<div id="content-bottom-border" class="container"></div>