<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<div id="content-top-border" class="container"></div>
<div id="content">
	<div class="container background-white">
		<div class="row padding-vert-40">

			<h2 class="animate fadeIn text-center">Glasanje u načelu</h2><br>

			<form>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Broj</th>
								<th>Naslov</th>
								<th>Oblast</th>
								<th>Datum</th>
								<th>Status</th>
								<th>Pregled</th>
								<th>Prihvati</th>
								<th>Odbij</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="dok in uNaceluCtrl.dokumenti">
								<td>{{ $index + 1 }}</td>
								<td>{{ dok.akt.naslov }}</td>
								<td>{{ dok.akt.preambula.oblast.value }}</td>
								<td>{{ dok.akt.preambula.datumPredaje.value | date : 'dd.MM.yyyy' }}.</td>
								<td id="{{ dok.akt.id }}status">{{ dok.akt.preambula.status.value }}</td>
								<td ng-controller="AktiController as aktiCtrl" align="left">
									<a href="" ng-click="aktiCtrl.downloadPDF(dok.akt.id)">
										<img border="0" src="../images/pdfIcon.png">
									</a>
								</td>
								<td>
									<input type="submit" class="btn btn-success" value="Prihvati"
									id = "{{ dok.akt.id }}prihvati"
									ng-click="uNaceluCtrl.prihvatiUNacelu(dok.akt.id)">
								</td>
								<td><input type="submit" class="btn btn-danger" value="Odbij"
									id = "{{ dok.akt.id }}odbij"
									ng-click="uNaceluCtrl.odbijAkt(dok.akt.id)">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
			
			<button type="button" class="btn btn-default" style="float: right;"
			ng-click="uNaceluCtrl.predjiNaGlasanje()">
				Dalje >>
			</button>
			
		</div>
	</div>
</div>

<div id="content-bottom-border" class="container"></div>