<div id="content-top-border" class="container"></div>
<div id="content">
	<div class="container background-white">
		<div class="row padding-vert-40">

			<!--Zakazivanje sedince-->
			<div class="col-sm-3">
				<br>
				<h3>
					<b>Zakazivanje sednice</b>
				</h3>
				<br>

				<h3>
					Unesite datum
				</h3>

				<input type="date" name="datum" value="2017-09-09" style="margin-top:10px; width:100%">

				<br><br>

				<h3>
					Unesite vreme
				</h3>
				<input type="time" name="vreme" value="08:00" style="margin-top:10px; width:100%">

				<br><br><br>

				<input type="submit" class="btn btn-success" style= "width:100%" value="Potvrdi">

			</div>

			<!--Spisak-->
			<div class="col-sm-9">
				<h2 class="animate fadeIn text-center">Spisak</h2>
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr ng-repeat="akt in aktiCtrl.akti">
								<td>{{ $index + 1 }}</td>
								<td>{{ akt.naslov }}</td>
								<td>{{ akt.preambula.oblast.value }}</td>
								<td>{{ akt.preambula.datumObjave.value }}</td>
								<td><img border="0" src="../images/pdfIcon.png" ng-click="aktiCtrl.downloadPDF(akt.id)"> <img
									border="0" src="../images/xhtmlIcon.png"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div id="content-bottom-border" class="container"></div>