<div id="content-top-border" class="container"></div>
<div id="content">
	<div class="container background-white">
		<div class="row padding-vert-40">

			<!--Zakazivanje sedince-->
			<div class="col-sm-3">
				<h2 class="animate fadeIn text-center">Zakazivanje sednice</h2>
				<br>

				<h3>
					Unesite datum
				</h3>

				<input type="date" name="datum" value="2017-09-09" style="margin-top:10px; width:100%"
				 ng-model="zakazivanjeCtrl.datum">

				<br><br>

				<h3>
					Unesite vreme
				</h3>
				<input type="time" name="vreme" value="08:00" style="margin-top:10px; width:100%"
				 ng-model="zakazivanjeCtrl.vreme">

				<br><br><br>

				<input type="submit" class="btn btn-success" style= "width:100%" value="Potvrdi"
				 ng-click="zakazivanjeCtrl.zakazivanje()">

			</div>

			<!--Spisak-->
			<div class="col-sm-9" ng-controller="AmandmaniAktaController as dokCtrl">
				<h2 class="animate fadeIn text-center">Spisak akata i amandmana</h2>
				<div class="table-responsive" style="margin: 5%">
					<table class="table" ng-repeat="dok in dokCtrl.dokumenti">
						<thead>
							<tr>
								<th>Broj</th>
								<th>Naslov</th>
								<th>Oblast/Pravni osnov</th>
								<th>Datum</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ $index + 1 }}</td>
								<td>{{ dok.akt.naslov }}</td>
								<td>{{ dok.akt.preambula.oblast.value }}</td>
								<td>{{ dok.akt.preambula.datumObjave.value }}</td>
							</tr>
							<tr ng-repeat="amd in dok.amandmani" bgcolor="#f1f1f1">
								<td>Amandman {{ $index + 1 }}</td>
								<td>{{ amd.naslov }}</td>
								<td>{{ amd.pravniOsnov }}</td>
								<td>{{ amd.preambula.datumObjave.value }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div id="content-bottom-border" class="container"></div>